
.navbar{
  display: flex;
}
.logoText{
  color:rgb(133, 15, 7);
  text-align: center;
}
.logoText2{
  color:rgb(235, 229, 229);
  text-align: center;
}
.imgLogo{
  height: 65px; 
  width: 95px ;
}
.textSize{
  font-size:15px;
}
.textSize2{
  font-size:11px
}
@media screen and (max-width: 767px) {
  .imgLogo{
    margin-left: -20px;
     height: 60px; 
     width: 70px ;
  }
  .textSize, .textSize2{
    font-size: 11px;
}
}
.foot_text_gp{
    color: black;
    background-color: #dab03c;
    line-height: 30px;
}
.footer-bottom{
    text-align: center;
    background-color:#e5b73b; 
   height:35%;  
 }
.navbar{
  display: flex;
}
.logoText{

  text-shadow:-1px 0 #d6b35a ,1px 0 white,0 -1px rgb(255, 255, 255);
  text-align: center;
}
.logoText2{
  color:#0f0202;
  text-align: center;
  text-shadow:-1px 0 #d6b35a ,1px 0 white,0 -1px rgb(255, 255, 255);

}
.imgLogo{
  height: 65px; 
  width: 95px ;
}
.textSize{
  font-size:15px;
}
.textSize2{
  font-size:11px
}
@media screen and (max-width: 767px) {
  .imgLogo{
    margin-left: -20px;
     height: 60px; 
     width: 70px ;
  }
  .textSize, .textSize2{
    font-size: 11px;
}
}
a:active{

text-shadow:-1px 0 #ffffff,1px 0 white,0 -1px rgb(255, 255, 255);
 
}
.navbar-nav {
    font-weight: 500;
     }