.foot_text_gp{
    color: black;
    background-color: #dab03c;
    line-height: 30px;
}
.footer-bottom{
    text-align: center;
    background-color:#e5b73b; 
   height:35%;  
 }
/* for footer */

/* for navbar */
.logoText{

  text-shadow:-1px 0 #d6b35a ,1px 0 white,0 -1px rgb(255, 255, 255);
  text-align: center;
}
.navbar-brand {
  font-size: 1.1rem;
}
.navbar-light .navbar-nav .nav-link {
  color:black; 
  font-size:19px; 
}
.navbar-toggler {
  margin-left: -100px
}


/* for nav dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   z-index: 100; 
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
 
}

.dropdown-content a:hover {background-color: #dab03c;}

.dropdown:hover .dropdown-content {display:block;}

.textSize{
  font-size:15px;
}
.textSize2{
  font-size:11px
}
.imgLogo{
  height: 65px; 
  width: 95px ;
}

@media screen and (max-width: 767px) {
  .imgLogo{
    margin-left: -20px;
     height: 60px; 
     width: 70px ;
  }
  .textSize, .textSize2{
    font-size: 11px;
}
}
.navbar{
  display: flex;
}

.logoText2{
  color:#0f0202;
  text-align: center;
  text-shadow:-1px 0 #d6b35a ,1px 0 white,0 -1px rgb(255, 255, 255);

}



a:active{

text-shadow:-1px 0 #ffffff,1px 0 white,0 -1px rgb(255, 255, 255);
 
}
.navbar-nav {
    font-weight: 500;
     }

.dropdown{
  position: relative;
}
.dropul{
  position: absolute;
  
}
