<<<<<<< HEAD
.foot_text_gp{
    color: black;
    background-color: #dab03c;
    line-height: 30px;
}
.footer-bottom{
    text-align: center;
    background-color:#e5b73b; 
   height:35%;  
 }
=======
.navbar{
  display: flex;
}
.logoText{
  color:rgb(133, 15, 7);
  text-align: center;
}
.logoText2{
  color:rgb(235, 229, 229);
  text-align: center;
}
.imgLogo{
  height: 65px; 
  width: 95px ;
}
.textSize{
  font-size:15px;
}
.textSize2{
  font-size:11px
}
@media screen and (max-width: 767px) {
  .imgLogo{
    margin-left: -20px;
     height: 60px; 
     width: 70px ;
  }
  .textSize, .textSize2{
    font-size: 11px;
}
}
>>>>>>> 3e2e6d44c1e57ba786b7a1c5eb6a9b3a25fb51bf
