hr{
    border-top: 5px solid #daa520;
} 
.zoom{
    padding: 50px;
    transition: transform 0.6s;
   
    /* margin: 0 auto; */
}
.zoom:hover{
    transform: scale(1.1);
}
.title-centered{
    position: absolute;
    
    bottom: 500px;
    left: 50%;
    transform: translate(-50%,-50%);
}